/***************************************************************************************************/
/* Estilos generales para el scrollbar */
::-webkit-scrollbar {
    width: 12px; 
}
/* Estilos para el track (fondo del scrollbar) */
::-webkit-scrollbar-track {
    background: linear-gradient(#fff2, transparent); 
    border-radius: 10px; 
    border: 1px solid rgba(255, 255, 255, 0.1);
    box-shadow: 0 25px 25px rgba(0, 0, 0, 0.25); 
}
/* Estilos para el thumb (la parte que se arrastra) */
::-webkit-scrollbar-thumb {
    background: rgba(255, 255, 255, 0.3); 
    border-radius: 10px; 
    backdrop-filter: blur(5px); 
    border: 2px solid rgba(0, 0, 0, 0.4);
    transition: background 0.3s ease-in-out; 
}
/* Hover sobre el thumb */
::-webkit-scrollbar-thumb:hover {
    background: rgba(255, 255, 255, 0.5); /* Color más claro al hacer hover */
}
/***************************************************************************************************/
html,
body {
    margin: 0;
    overflow-y: auto;
    overflow-x: hidden;
    background: #07090c;
}
/***************************************************************************************************/
main{
    display: flex;
    align-items: center;
    justify-content: center
}

canvas {
    position: relative;
    top: 0;
    left: 0;
    z-index: 1;
}

.content {
    position: absolute;
    z-index: 2;
    color: white;
    text-align: center;
    font-family: Arial, sans-serif;
}


h1 {
    font-size: 3em;
    font-family: 'Poppins', sans-serif;
    letter-spacing: 10px;
    text-align: center;
    white-space: nowrap;
    transition: text-shadow 0.3s ease;
    animation: growTitle 3s ease forwards; 
}

h2{
    font-size: 1.3em;
    color: #fff;
    font-family: 'Poppins', sans-serif;
    letter-spacing: 10px;
    text-align: center;
    white-space: nowrap;
    transition: text-shadow 0.3s ease;
}

@keyframes growTitle {
    0% {
        font-size: 0.1em; /* Comienza muy pequeño */
    }
    100% {
        font-size: 3em; /* Termina en 3em */
    }
}

.flecha1 {
    color: #fff;
    position: absolute;
    z-index: 10;
    width: 10%;
    left: 2%;
    animation: movement 3s ease-in-out infinite;
}

.flecha2 {
    color: #fff;
    position: absolute;
    z-index: 10;
    width: 10%;
    right: 2%;
    animation: movement 3s ease-in-out infinite;
}

.inidicador1{
    font-size: 0.5em;
    color: #fff;
    font-family: 'Poppins', sans-serif;
    letter-spacing: 4px;
    white-space: nowrap;
    position: absolute;
    left: 1%;
    z-index: 10;
    margin-top: 5%;
    animation: movement 3s ease-in-out infinite; 
}

.inidicador2{
    font-size: 0.5em;
    color: #fff;
    font-family: 'Poppins', sans-serif;
    letter-spacing: 4px;
    white-space: nowrap;
    position: absolute;
    right: 1%;
    z-index: 10;
    margin-top: 5%;
    animation: movement 3s ease-in-out infinite;
}


@keyframes movement {
    0% {
        transform: translateX(10px); 
    }
    50% {
        transform: translateX(-10px); 
    }
    100% {
        transform: translateX(10px); 
    }
}

.glass {
    background: linear-gradient(#fff2, transparent);
    border: 1px solid rgba(255,255,255,0.1);
    box-shadow: 0 25px 25px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(10px);
    border-radius: 10px;
    transition: 0.7s ease-in-out;
}

.container-info {
    width: 20%;
    height: 80%;
    position: absolute;
    z-index: 10;
    margin-top: 5%!important;
    padding: 10px;
}


#typing-text{
    font-family: 'Poppins';
    font-size: 0.8em;
    color: #fff;
    text-align: center;
    margin-top: -15px;
}


.appear-container{
    margin-top: 1300px;
}


/* Configuración de transición para un movimiento suave */
#container-info1, #container-info2 {
    transition: transform 0.5s ease, opacity 0.5s ease;
    position: absolute;
}

#container-info1{
    left: 2%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#container-info2{
    right: 2%;
}

#container-info3{
    width: 80%;
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Poppins', sans-serif;
    padding: 20px;
    backdrop-filter: blur(100px);
}

#container-info3 h3 {
    margin-bottom: 15px;
    font-size: 1.8rem;
    color: #fff;
}

#container-info3 p {
    margin-bottom: 15px;
    font-size: 1rem;
    color: #fff;
}

#container-info3 ul {
    text-align: left;
    padding-left: 20px;
}

#container-info3 ul li {
    margin-bottom: 10px;
    font-size: 1rem;
    color: #fff;
}

#ultimo-parrafo{
    margin-bottom: 50px!important;
}

#buttom-newsletter2:hover{
    filter: drop-shadow(2px 2px 10px violet);
    background: violet;
}
#newsletter-form2 {
    display: flex;
    margin-top: -50px;
}

#newsletter-form2 input {
    padding: 10px;
    border: none;
    border-radius: 5px 0 0 5px;
    background-color: rgba(255, 255, 255, 0.1);
    color: #fff;
}

#newsletter-form2 button {
    padding: 10px 20px;
    border: none;
    border-radius: 0 5px 5px 0;
    color: #000;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
    font-family: 'Poppins', sans-serif;
}



/* Cuando el mouse está sobre el área izquierda */
.left {
    transform: translateX(0); /* Muestra el div en su posición */
    opacity: 1; /* Asegúrate de que sea completamente visible */
}

/* Cuando el mouse está sobre el área derecha */
.right {
    transform: translateX(0); /* Muestra el div en su posición */
    opacity: 1;
}

.center{
    transform: translateY(0); /* Muestra el div en su posición */
    opacity: 1;
}

/* Desaparecer hacia la izquierda */
.desaparecer-container-info-left {
    transform: translateX(-100%); /* Desaparece hacia la izquierda */
    opacity: 0; /* Reduce la opacidad a 0 */
}

/* Desaparecer hacia la derecha */
.desaparecer-container-info-right {
    transform: translateX(100%); /* Desaparece hacia la derecha */
    opacity: 0;
}

.desaparecer-container-info-up {
    transform: translateY(-100%); /* Desaparece hacia la derecha */
    opacity: 0;
}

#cross1{
    position: absolute;
    right: 2%;
    top: 2%;
    width: 5%;
    cursor: pointer;
}


#cross2{
    position: absolute;
    left: 2%;
    top: 2%;
    width: 5%;
    cursor: pointer;
}

#cross3{
    position: absolute;
    right: -1%;
    top: 2%;
    width: 5%;
    cursor: pointer;
}

/** CONTACTO **/

.container2{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
}

.form2{
    margin-top: 5%;
    position: relative;
    width: 120%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form2 h2{
    position: relative;
    color: #fff;
    font-weight: 600;
    font-size: 1.3em;
    color: #fff;
    font-family: 'Poppins', sans-serif;
    letter-spacing: 10px;
    text-align: center;
    white-space: nowrap;
    transition: text-shadow 0.3s ease;
    margin-bottom: 10px;
}

 .form2 .inputBx{
    width: 100%;
    margin-top: 10px;
 }

 .form2 .inputBx input{
     width: 90%;
     background: rgba(255,255,255,0.2);
     border: none;
     outline: none;
     padding: 5px 10px;
     border-radius: 35px;
     border: 1px solid rgb(255,255,255,0.5);
     border-right: 1px solid rgb(255,255,255,0.2);
     border-bottom: 1px solid rgb(255,255,255,0.2);
     font-size: 16px;
     letter-spacing: 1px;
     color: #fff;
     box-shadow: 0 5px 15px rgb(0,0,0,0.05);
     cursor: pointer;
 }

 .form2 .inputBx textarea{
    width: 90%;
    height: 140px;
    resize: none;
    background: rgba(255,255,255,0.2);
    border: none;
    outline: none;
    padding: 10px 12px;
    border-radius: 15px;
    border: 1px solid rgb(255,255,255,0.5);
    border-right: 1px solid rgb(255,255,255,0.2);
    border-bottom: 1px solid rgb(255,255,255,0.2);
    font-size: 16px;
    letter-spacing: 1px;
    color: #fff !important;
    box-shadow: 0 5px 15px rgb(0,0,0,0.05);
}

.form2 .inputBx input::placeholder{
    color: #fff;
        font-family: 'Poppins';
}

.form2 .inputBx textarea::placeholder{
    color: #fff;
    font-family: 'Poppins';
}


.form2 .inputBx input[type="submit"]{
    width: 100%;
}

.form2 .inputBx input[type="submit"]:hover{
    background: rgba(255,255,255,0.2);
    color: #fff;
    font-weight: 600;
}

.text-form{
    position: absolute;
    bottom: 0;
    left: 10%;
    color: #fff;
}



/*****************************************************************************************************************************************/
/*****************************************************************************************************************************************/
/*****************************************************************************************************************************************/
/*HEADER*/
#main-header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 100;
    transition: transform 0.3s ease-in-out;
}

#main-header.hidden {
    transform: translateY(-100%);
}

#main-header nav ul {
    display: flex;
    justify-content: center;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

#main-header nav ul li {
    margin: 0 15px;
}

#main-header nav ul li a {
    display: block;
    padding: 15px 10px;
    color: #fff;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    font-size: 1.1rem;
    font-weight: bold;
    letter-spacing: 2px;
    text-align: center;
    white-space: nowrap;
    transition: color 0.3s ease-in-out;
    cursor: pointer;
}

#main-header nav ul li a:hover{
    filter: drop-shadow(2px 2px 10px #ffff);
}


.burger-menu {
    display: none;
    cursor: pointer;
    padding: 15px;
}

.burger-icon {
    width: 30px;
    height: 20px;
    position: relative;
}

.burger-icon span {
    display: block;
    position: absolute;
    height: 3px;
    width: 100%;
    background: #fff;
    border-radius: 3px;
    opacity: 1;
    left: 0;
    transform: rotate(0deg);
    transition: .25s ease-in-out;
}

.burger-icon span:nth-child(1) {
    top: 0px;
}

.burger-icon span:nth-child(2) {
    top: 8px;
}

.burger-icon span:nth-child(3) {
    top: 16px;
}

.burger-menu.open .burger-icon span:nth-child(1) {
    top: 8px;
    transform: rotate(135deg);
}

.burger-menu.open .burger-icon span:nth-child(2) {
    opacity: 0;
    left: -60px;
}

.burger-menu.open .burger-icon span:nth-child(3) {
    top: 8px;
    transform: rotate(-135deg);
}
/*****************************************************************************************************************************************/
/*****************************************************************************************************************************************/
/*FOOTER*/
footer {
    position: absolute;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    padding: 20px 0;
    z-index: 10;
    margin-top: 50px;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.social-media a {
    color: #fff;
    font-size: 24px;
    margin-right: 20px;
    transition: color 0.3s ease-in-out;
}

.social-media a:hover {
    transition: 0.5s ease-in-out;
    filter: drop-shadow(2px 2px 10px #ffff);
}

#newsletter-form {
    display: flex;
}

#newsletter-form input {
    padding: 10px;
    border: none;
    border-radius: 5px 0 0 5px;
    background-color: rgba(255, 255, 255, 0.1);
    color: #fff;
}

#newsletter-form button {
    padding: 10px 20px;
    border: none;
    border-radius: 0 5px 5px 0;
    color: #000;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
    font-family: 'Poppins', sans-serif;
}

#buttom-newsletter:hover{
    filter: drop-shadow(2px 2px 10px #ffff);
}

/***************************************************************************************************************************************/
/*****************************************************************************************************************************************/
/*****************************************************************************************************************************************/

@media (width > 1400px) {

    .container-info{
        width: 25%;
    }
}


@media (max-width: 1020px) {

    h1{
        animation: growTitle2 3s ease forwards; 
    }

    @keyframes growTitle2 {
        0% {
            font-size: 0.1em; /* Comienza muy pequeño */
        }
        100% {
            font-size: 2em; /* Termina en 3em */
        }
    }

    .flecha1 {
        opacity: 0;
    }

    .flecha2 {
        opacity: 0;
    }

    .container-info {
        width: 90%;
    }

    #container-info1{
        margin-top: 1300px!important;
    }

    #container-info2{
        margin-top: 2500px!important;
        width: 90%!important;
    }

    #container-info3{
        margin-top: 6580px!important;
        width: 85%!important;
        height: 1100px;
        opacity: 1;
        
    }


    #container-info3 h3{
        text-align: center;
    }

    #cross1{
        opacity: 0;
        z-index: -10;
    }
    
    #cross2{
        opacity: 0;
        z-index: -10;
    }

    #cross3{
        opacity: 0;
        z-index: -10;
    }

    .glass {
        background: linear-gradient(#fff2, rgba(255,255,255,0.1) );
        border: 1px solid rgba(255,255,255,0.1);
        box-shadow: 0 25px 25px rgba(0, 0, 0, 0.25);
        backdrop-filter: blur(10px);
        border-radius: 10px;
    }
/*****************************************************************************************************************************************/
/*****************************************************************************************************************************************/
    .burger-menu {
        display: block;
        margin-top: 5%;
    }

    #main-header nav {
        display: none;
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        background-color: rgba(0, 0, 0, 0.8);
    }

    #main-header nav.open {
        display: block;
    }

    #main-header nav ul {
        flex-direction: column;
    }

    #main-header nav ul li {
        margin: 0;
    }

    #main-header nav ul li a {
        padding: 15px;
        text-align: center;
    }
/*****************************************************************************************************************************************/
/*****************************************************************************************************************************************/
    footer {
        margin-top: 2440px;
    }

    .footer-content {
        flex-direction: column;
    }

    .social-media {
        margin-bottom: 20px;
    }

}